# Dependency directories
node_modules/
server/node_modules/
client/node_modules/

# Environment variables
.env
server/.env
client/.env
.env.local
.env.*.local

# Production builds
dist/
build/
server/dist/
server/build/
client/dist/
client/build/

# Debug logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System files
.DS_Store
README.md

# Local Database & Debug
data/
server/test_db.js
